
<%- include('../layouts/head.ejs') %>
  <body>
    <%- include('../layouts/sideBar.ejs') %>

    <div class="p-4 sm:ml-64">
      <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">Tabla de Horario</p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-40 light:bg-gray-900">
                <!-- Formulario para Crear y Editar Aula -->
                <div class="grid grid-cols-2 gap-3">
                  <div>
                    <select name="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="seleccionaPersona">
                      <% personas.forEach( persona=> { %>
                        <option value="<%= persona._id %>">
                          <%= persona.name %>
                        </option>
                        <% }); %>
                    </select></div>
                  <div>
                    <select name="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="seleccionaGrupo">
                      <% grupos.forEach( grupo=> { %>
                        <option value="<%= grupo._id %>">
                          <%= grupo.name %>
                        </option>
  
                        <% }); %>
                    </select></div>
                </div>
            </div>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="table-fixed w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" id="tablaHorarios">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr class="small">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Día</th>
                        <th scope="col" class="px-6 py-3">
                          <p>6:20</p>
                          <p>7:10</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>7:10</p>
                          <p>8:00</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>8:00</p>
                          <p>8:50</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>8:50</p>
                          <p>9:40</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>9:40</p>
                          <p>10:30</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>10:30</p>
                          <p>11:20</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>11:20</p>
                          <p>12:10</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>12:10</p>
                          <p>13:00</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>13:00</p>
                          <p>13:50</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>13:50</p>
                          <p>14:40</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>14:40</p>
                          <p>15:30</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>15:30</p>
                          <p>16:20</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>16:20</p>
                          <p>17:10</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>17:10</p>
                          <p>18:00</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>18:00</p>
                          <p>18:50</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>18:50</p>
                          <p>19:40</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>19:40</p>
                          <p>20:30</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>20:30</p>
                          <p>21:20</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>21:20</p>
                          <p>22:10</p>
                        </th>
                        <th scope="col" class="px-6 py-3">
                          <p>22:10</p>
                          <p>23:00</p>
                        </th>
                      </tr>
            </thead>
            <tbody id="tablaHorario">
              <% horarios.forEach( horario=> { %>
                <% console.log(horario);%>
                <tr class="bg-white dark:bg-gray-800">
                  <td class="bg-warning px-6 py-4">
                    <%= horario.dia %>
                  </td>
                  <% horario.horarios.forEach( hora=> { %>
                    <% if (hora.id_horario) { %>
                      <td class="<%= hora.id_horario %> px-6 py-4">
                        <button data-modal-target="default-modal-<%=hora.id_horario%>" data-modal-toggle="default-modal-<%=hora.id_horario%>" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" onclick="console.log('button')">
                          <%= hora.nameAula %>-<%= hora.nameCurso%>-<%= hora.namePersona %>
                        </button>
                      </td>
                      <% } else { %>
                        <td class="<%= hora.id_horario ? 'bg-primary' : 'bg-success' %> px-6 py-4"></td>
                        <% } %>
                    <% }); %>
                </tr>
                <% }); %>
            </tbody>
          </table>
          <!-- Modal para mostrar información adicional -->
          
        </div>
      </div>
      <%- include('../layouts/footer.ejs') %>
    </div>
    <% horarios.forEach( horario=> { %>
      <% horario.horarios.forEach( hora=> { %>
        <% if (hora.id_horario) { %>
          <!-- Modal -->
          <div id="default-modal-<%=hora.id_horario%>" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Detalles
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal-<%=hora.id_horario%>">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="grid grid-cols-2">
                      <div class="p-4 md:p-5 space-y-4">
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            <%= horario.namePersona %>
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                          Hora Inicio : <%= hora.hora_inicio %>
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                          Hora Fin : <%= hora.hora_fin %>
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                          Curso : <%= hora.nameCurso %>
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                          Aula : <%= hora.nameAula %>
                        </p>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                          Grupo : <%= hora.nameGrupo %>
                        </p>
                      </div>
                      <div class="flex items-center">
                        <div class="bg-cyan-300">
                          <img class="object-scale-down h-48 w-96 ..." src="<%= hora.imagenQR %>">
                        </div>
                      </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button data-modal-hide="default-modal-<%=hora.id_horario%>" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                        <button data-modal-hide="default-modal-<%=hora.id_horario%>" type="button" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
                    </div>
                </div>
            </div>
            </div>
          </div>
        <% } %>
      <% }); %>
    <% }); %>
    <script src="https://flowbite.com/docs/flowbite.min.js"></script>
    <script src="https://flowbite.com/docs/datepicker.min.js"></script>
  </body>
  <script>
    const seleccionaPersona = document.getElementById("seleccionaPersona");
    const tablaHorarios = document.getElementById("tablaHorario");
    const seleccionaGrupo = document.getElementById("seleccionaGrupo");
    seleccionaPersona.addEventListener("change", () => {
      const filtroPersona = seleccionaPersona.value;
      fetch(`/api/web/horarioTable?selectPersona=${filtroPersona}`)
        .then((response) => response.json())
        .then((data) => {
          horariosHTML(data);
        });
    });
    seleccionaGrupo.addEventListener("change", () => {
      const filtroGrupo = seleccionaGrupo.value;
      fetch(`/api/web/horarioTable?selectGrupo=${filtroGrupo}`)
        .then((response) => response.json())
        .then((data) => {
          horariosHTML(data);
        });
    });
    function horariosHTML(data) {
      tablaHorarios.innerHTML = "";
      data.forEach((resultados) => {
        const tr = document.createElement("tr");
        tr.className = "bg-white dark:bg-gray-800";

        tr.innerHTML = `<td class='bg-success px-6 py-4'>${resultados.dia}</td>`;

        resultados.horarios.forEach((horario) => {
          const td = document.createElement("td");

          if (horario.id_horario) {
            console.log("push");
            const button = document.createElement("button");
            button.type = "button";
            button.className = "block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800";
            button.setAttribute("data-modal-target", `default-modal-${horario.id_horario}`);
            button.setAttribute("data-modal-toggle", `default-modal-${horario.id_horario}`);
            button.setAttribute('onclick','console.log("button")');
            button.innerHTML = `${horario.hora_inicio}-${horario.hora_fin}-${horario.nameAula}-${horario.nameCurso}-${horario.namePersona}-${horario.nameGrupo}`;

            td.appendChild(button);
          }

          tr.appendChild(td);
        });

        tablaHorarios.appendChild(tr);

      });
      
    }
  </script>

  </html>