<!-- Este es tu archivo CRUD para Aulas -->

<!DOCTYPE html>
<html lang="en">
  <body>
    <% if (horariosPersonas.length > 0) { %>
    <table id="miTabla">
      <thead>
        <tr>
          <th>ID Horario</th>
          <th>ID Grupo</th>
          <th>ID Curso</th>
          <th>ID Persona</th>
          <th>Asistencia</th>
          <th>Estado</th>
          <th>Contraseña</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% horariosPersonas.forEach(horarioPersona => { %>
        <tr>
          <!-- Detalles de Horario Persona -->
          <td><%= horarioPersona.id_horario.dia.toLocaleString() %></td>
          <td><%= horarioPersona.id_grupo.name %></td>
          <td><%= horarioPersona.id_curso.name %></td>
          <td><%= horarioPersona.id_persona.name %></td>
          <td><%= horarioPersona.asistencia ? 'Sí' : 'No' %></td>
          <td><%= horarioPersona.estado %></td>
          <td><%= horarioPersona.contrasena %></td>
          <!-- Enlace para Editar Horario Persona -->
        </tr>
        <% }); %>
      </tbody>
    </table>

    <% } else { %>
    <p>No hay horarios de personas disponibles.</p>
    <% } %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io.connect();

      let tiempoRestante = 60;
      function actualizarTabla() {
        console.log("w");
        // Simula la actualización de la tabla (reemplaza con tu lógica real)

        fetch(`/api/web/horarioAsistencia`)
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            const tabla = document.getElementById("miTabla");
            const tbody = tabla.querySelector("tbody");
            tbody.innerHTML = "";
            data.forEach((horarioPersona) => {
              const row = document.createElement("tr");
              row.innerHTML = `
                <td>${horarioPersona.id_horario.dia.toLocaleString()}</td>
                <td>${horarioPersona.id_grupo.name}</td>
                <td>${horarioPersona.id_curso.name}</td>
                <td>${horarioPersona.id_persona.name}</td>
                <td>${horarioPersona.asistencia ? "Sí" : "No"}</td>
                <td>${horarioPersona.estado}</td>
                <td>${horarioPersona.contrasena}</td>
            `;
              tbody.appendChild(row);
            });
          })
          .catch((error) =>
            console.error("Error al cargar detalles de aula:", error)
          );
      }

      function actualizarCampoAsistencia() {
        console.log("Campo de asistencia actualizado");
        socket.emit("campoAsistenciaActualizado", "asf");
      }
      // Configura un intervalo para actualizar la tabla cada 50 minutos (50 * 60 * 1000 milisegundos)
      setInterval(actualizarTabla, 1000);
    </script>
  </body>
</html>
