<!-- Este es tu archivo CRUD para Carreras -->
<%- include('../layouts/head.ejs') %>

<body>
    <%- include('../layouts/sideBar.ejs') %>
    
    <div class="p-4 sm:ml-64">
        <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
            <div class="grid grid-cols-2 gap-4 mb-4">
                <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                    <p class="text-2xl text-gray-400 dark:text-gray-500">CRUD de Carreras</p>
                </div>
                <div class="flex items-center justify-center rounded bg-gray-50 h-50 light:bg-gray-900">
                    <!-- Formulario para Crear Carrera -->
                    <form class="space-y-5"  id="aulaForm" method="POST" onsubmit="return submitCarreraForm()">
                        <input type="hidden" id="editId" name="_id">
                        <div class="grid gap-6 mb-6 md:grid-cols-2">
                            <div class="grid grid-rows-2 items-center">
                                <div>
                                    <label for="name" class="col-span-1 block text-sm font-medium text-gray-700">Nombre:</label>
                                    <input type="text" name="name" id="carreraName"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600" required>
                                </div>
                                <div>
                                    <label for="descripcion" class="col-span-1 block text-sm font-medium text-gray-700">Descripción:</label>
                                    <input type="text" name="descripcion" id="carreraDescripcion"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600" required>
                                </div>
                            </div>
                            <div class="grid grid-rows-2">
                                <div>
                                    <label for="nro_ciclos" class="col-span-1 block text-sm font-medium text-gray-700">Número de Ciclos:</label>
                                    <input type="text" name="nro_ciclos" id="carreraCiclos" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600" required>
                                </div>
                                <div class="flex items-center">
                                    <div>
                                        <button type="submit" id="submitBtn" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Crear Carrera</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Nombre</th>
                            <th scope="col" class="px-6 py-3">Descripción</th>
                            <th scope="col" class="px-6 py-3">Número de Ciclos</th>
                            <th scope="col" class="px-6 py-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% carreras.forEach(carrera => { %> 
                            <tr class="bg-white dark:bg-gray-800">
                                <!-- Detalles de Carrera -->
                                <td class="px-6 py-4"><a href="/api/web/carrera/<%= carrera._id %>"><%= carrera.name %></a></td>
                                <td class="px-6 py-4"><%= carrera.descripcion %></td>
                                <td class="px-6 py-4"><%= carrera.nro_ciclos %></td>
                                <!-- Enlace para Editar Carrera -->
                                <td class="px-6 py-4"><a  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"  href="#" onclick="showEditForm('<%= carrera._id %>', '<%= carrera.name %>', '<%= carrera.descripcion %>', '<%= carrera.nro_ciclos %>'); event.preventDefault();">Editar</a></td>
                                <!-- Botón para Eliminar Carrera -->
                                <td class="px-6 py-4">
                                    <button  class="font-medium text-red-600 dark:text-red-500 hover:underline" type="button" onclick="confirmDelete('<%= carrera._id %>')">Eliminar</button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('../layouts/footer.ejs') %>
    </div>
</div>
<script src="/js/web/carreras.js"></script>
</body>
